<div class="home-container" [ngClass]="'card-size-' + postsService.card_size">
    <mat-card id="card" class="home-card" [ngClass]="[(allowAdvancedDownload) ? 'home-card--attached' : 'home-card--standalone', 'card-size-' + postsService.card_size]">
        <mat-card-content class="home-card-content">
            <form class="example-form">
                <div class="url-row">
                    <div class="url-field">
                        <mat-form-field color="accent" class="example-full-width">
                            <textarea class="url-input" cdkTextareaAutosize cdkAutosizeMinRows="1" wrap="off" matInput (ngModelChange)="inputChanged($event)" [(ngModel)]="url" [placeholder]="'URL' + (youtubeSearchEnabled ? ' or search' : '')" type="url" name="url" #urlinput></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="allowQualitySelect" class="quality-field">
                        <mat-form-field color="accent" class="quality-select">
                            <mat-label>
                                <ng-container i18n="Quality select label">
                                    Quality
                                </ng-container>
                            </mat-label>
                            <mat-select [disabled]="url === '' || cachedAvailableFormats[url] && cachedAvailableFormats[url]['formats_loading']" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedQuality" (ngModelChange)="argsChanged()">
                                <mat-option i18n="Best" [value]="''">
                                    Best
                                </mat-option>
                                <ng-container *ngIf="url && cachedAvailableFormats && cachedAvailableFormats[url]?.formats && !cachedAvailableFormats[url]?.formats_failed">
                                    <ng-container *ngFor="let option of cachedAvailableFormats[url]['formats'][audioOnly ? 'audio' : 'video']">
                                        <mat-option [matTooltip]="option.expected_filesize ? humanFileSize(option.expected_filesize) : null" *ngIf="option.key !== 'best_audio_format'" [value]="option">
                                            {{option.key}}
                                        </mat-option>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="url && cachedAvailableFormats && cachedAvailableFormats[url]?.formats_failed">
                                    <ng-container *ngFor="let option of qualityOptions[audioOnly ? 'audio' : 'video']">
                                        <mat-option [value]="option.value">
                                            {{option.label}}
                                        </mat-option>
                                    </ng-container>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <div class="spinner-div" *ngIf="url !== '' && cachedAvailableFormats[url] && cachedAvailableFormats[url]['formats_loading']">
                            <mat-spinner [diameter]="25"></mat-spinner>
                        </div>
                    </div>
                </div>

                <div class="results-div" *ngIf="results_showing">
                    <span *ngFor="let result of results; let i = index">
                        <mat-card appearance="outlined" class="result-card mat-elevation-z7" [ngClass]="[(i === 0 && results.length > 1) ? 'first-result-card' : '', ((i === results.length-1) && results.length > 1) ? 'last-result-card' : '', (results.length === 1) ? 'only-result-card' : '']">
                            <div class="search-card-title">
                                {{result.title}}
                            </div>
                            <div class="search-card-date">
                                {{result.uploaded}}
                            </div>
                            <button mat-flat-button color="primary" class="result-use-button" (click)="useURL(result.videoUrl)">
                                <ng-container i18n="YT search Use URL button for searched video">Use URL</ng-container>
                            </button>
                            <button mat-stroked-button color="primary" class="result-view-button" (click)="visitURL(result.videoUrl)">
                                <ng-container i18n="YT search View button for searched video">
                                    View
                                </ng-container>
                            </button>
                        </mat-card>
                    </span>
                </div>

                <div class="home-options-row">
                    <div class="home-options-toggles">
                        <mat-checkbox [disabled]="autoplay && !!current_download" (change)="videoModeChanged($event)" [(ngModel)]="audioOnly">
                            <ng-container i18n="Only Audio checkbox">
                                Only Audio
                            </ng-container>
                        </mat-checkbox>
                        <mat-checkbox *ngIf="!forceAutoplay" [disabled]="getURLArray(url).length > 1" (change)="autoplayChanged($event)" [(ngModel)]="autoplay">
                            <ng-container i18n="Autoplay checkbox">
                                Autoplay
                            </ng-container>
                        </mat-checkbox>
                    </div>
                    <div class="home-options-actions">
                        <button (click)="downloadClicked()" [disabled]="downloadingfile || url === ''" type="submit" mat-flat-button color="accent" class="download-button">
                            <mat-icon>download</mat-icon>
                            <ng-container i18n="Main download button">
                                Download
                            </ng-container>
                        </button>
                        <button (click)="cancelDownload()" *ngIf="!!current_download" mat-stroked-button color="warn" class="cancel-button">
                            <ng-container i18n="Cancel download button">
                                Cancel
                            </ng-container>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <form *ngIf="allowAdvancedDownload" class="advanced-form">
        <mat-expansion-panel class="home-advanced-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="advanced-panel-icon">tune</mat-icon>
                    <ng-container i18n="Advanced download mode panel">
                        Advanced
                    </ng-container>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="simulated-command" *ngIf="this.simulatedOutput">
                <ng-container i18n="Simulated command label">
                    Simulated command:
                </ng-container>
                &nbsp;<i>{{this.simulatedOutput}}</i></p>
            <div class="advanced-grid">
                <div class="advanced-grid-item">
                    <mat-checkbox color="accent" [disabled]="!!current_download" (change)="customArgsEnabledChanged($event)" [(ngModel)]="customArgsEnabled" [ngModelOptions]="{standalone: true}">
                        <ng-container i18n="Use custom args checkbox">
                            Use custom args
                        </ng-container>
                    </mat-checkbox>
                    <button class="edit-button" (click)="openArgsModifierDialog()" mat-icon-button><mat-icon>edit</mat-icon></button>
                    <mat-checkbox color="accent" [disabled]="!customArgsEnabled || !!current_download" (change)="replaceArgsChanged($event)" [(ngModel)]="replaceArgs" class="advanced-checkbox-inline" [ngModelOptions]="{standalone: true}">
                        <ng-container i18n="Replace args">
                            Replace args
                        </ng-container>
                    </mat-checkbox>
                    <mat-form-field color="accent" class="advanced-input">
                        <mat-label i18n="Custom args">Custom args</mat-label>
                        <input [(ngModel)]="customArgs" [ngModelOptions]="{standalone: true}" [disabled]="!customArgsEnabled" matInput (ngModelChange)="argsChanged()">
                        <mat-hint>
                            <ng-container i18n="Custom Args input hint">
                                No need to include URL, just everything after. Args are delimited using two commas like so: ,,
                            </ng-container>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="advanced-grid-item">
                    <mat-checkbox color="accent" [disabled]="!!current_download" (change)="customOutputEnabledChanged($event)" [(ngModel)]="customOutputEnabled" [ngModelOptions]="{standalone: true}">
                        <ng-container i18n="Use custom output checkbox">
                            Use custom output
                        </ng-container>
                    </mat-checkbox>
                    <mat-form-field color="accent" class="advanced-input">
                        <mat-label i18n="Custom output">Custom output</mat-label>
                        <input [(ngModel)]="customOutput" [ngModelOptions]="{standalone: true}" [disabled]="!customOutputEnabled" matInput (ngModelChange)="argsChanged()">
                        <mat-hint><a target="_blank" href="https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template">
                            <ng-container i18n="Youtube-dl output template documentation link">Documentation</ng-container></a>.
                            <ng-container i18n="Custom Output input hint">Path is relative to the config download path. Don't include extension.</ng-container>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div *ngIf="!youtubeAuthDisabledOverride" class="advanced-grid-item">
                    <mat-checkbox color="accent" [disabled]="!!current_download" (change)="youtubeAuthEnabledChanged($event)" [(ngModel)]="youtubeAuthEnabled" [ngModelOptions]="{standalone: true}">
                        <ng-container i18n="Use authentication checkbox">
                            Use authentication
                        </ng-container>
                    </mat-checkbox>
                    <mat-form-field *ngIf="youtubeAuthEnabled" color="accent" class="advanced-input">
                        <mat-label i18n="Username">Username</mat-label>
                        <input [(ngModel)]="youtubeUsername" [ngModelOptions]="{standalone: true}" matInput (ngModelChange)="argsChanged()">
                    </mat-form-field>
                    <mat-form-field *ngIf="youtubeAuthEnabled" color="accent" class="advanced-input">
                        <mat-label i18n="Password">Password</mat-label>
                        <input [(ngModel)]="youtubePassword" type="password" [ngModelOptions]="{standalone: true}" matInput (ngModelChange)="argsChanged()">
                    </mat-form-field>
                </div>
                <div class="advanced-grid-item">
                    <mat-checkbox color="accent" [disabled]="!!current_download" [(ngModel)]="cropFile" [ngModelOptions]="{standalone: true}">
                        <ng-container i18n="Crop video checkbox">
                            Crop file
                        </ng-container>
                    </mat-checkbox>
                    <div class="crop-fields" *ngIf="cropFile">
                        <mat-form-field color="accent" class="advanced-input advanced-input-half">
                            <mat-label i18n="Crop from (seconds)">Crop from (seconds)</mat-label>
                            <input [(ngModel)]="cropFileStart" type="number" [ngModelOptions]="{standalone: true}" matInput>
                        </mat-form-field>
                        <mat-form-field color="accent" class="advanced-input advanced-input-half">
                            <mat-label i18n="Crop to (seconds)">Crop to (seconds)</mat-label>
                            <input [(ngModel)]="cropFileEnd" type="number" [ngModelOptions]="{standalone: true}" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </form>
    </div>

    <!-- Progress/downloads/file sections live outside .home-container (which is
         capped at 800px for the URL form) so the file browser below can use its
         own, wider max-width instead of being squeezed to the form's width. -->
    <section class="home-progress" [ngClass]="'card-size-' + postsService.card_size" id="bar_div" *ngIf="current_download && autoplay">
        <div [ngClass]="(+percentDownloaded > 99)?'make-room-for-spinner':'equal-sizes'" class="progress-bar-wrap" *ngIf="current_download.percent_complete && current_download.percent_complete > 1;else indeterminateprogress">
            <mat-progress-bar class="home-progress-bar" mode="determinate" value="{{percentDownloaded}}"></mat-progress-bar>
        </div>
        <div *ngIf="+percentDownloaded > 99" class="spinner">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
        <ng-template #indeterminateprogress>
            <mat-progress-bar class="home-progress-bar" mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </section>

    <section class="home-section" [ngClass]="'card-size-' + postsService.card_size" *ngIf="downloads && downloads.length > 0 && !autoplay">
        <div class="home-section-title">
            <mat-icon>downloading</mat-icon>
            <ng-container i18n="Downloads section title">Downloads</ng-container>
        </div>
        <app-downloads class="home-downloads-list" [uids]="download_uids"></app-downloads>
    </section>

    <ng-container *ngIf="cachedFileManagerEnabled || fileManagerEnabled">
        <div class="home-files-row" [ngClass]="'card-size-' + postsService.card_size">
            <section class="home-files-main">
                <app-recent-videos #recentVideos></app-recent-videos>
            </section>
            <aside class="home-files-sidebar">
                <div class="home-section-title"
                        [matTooltip]="customPlaylists.playlists && customPlaylists.playlists.length === 0 ? emptyPlaylistsHint : null"
                        matTooltipPosition="above">
                    <mat-icon>playlist_play</mat-icon>
                    <ng-container i18n="Custom playlists section title">Custom playlists</ng-container>
                </div>
                <app-custom-playlists #customPlaylists></app-custom-playlists>
            </aside>
        </div>
    </ng-container>
