<div class="sort-property" [ngClass]="'card-size-' + cardSize">
    <mat-form-field appearance="outline" class="sort-property-select">
        <mat-select [(ngModel)]="this.sortProperty" (selectionChange)="emitSortOptionChanged()">
            <mat-option *ngFor="let sortOption of sortProperties | keyvalue" [value]="sortOption.key">
                {{sortOption['value']['label']}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="toggleModeChange()" mat-icon-button><mat-icon>{{descendingMode ? 'arrow_downward' : 'arrow_upward'}}</mat-icon></button>
</div>